In [ ]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({
    'team': ['A', 'A', 'B', 'B', 'B', 'B', 'C', 'C'],
    'points': [25, 12, 15, 14, 19, 23, 25, 29]})

print(df)

  team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29

**Perform one-hot encoding**

In [ ]:
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder=OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column
encoder_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

#view final df
print(final_df)

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0

In [ ]:
#drop 'team' variable
final_df.drop('team', axis=1, inplace=True)

#view final df
print(final_df)

   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      15  0.0  1.0  0.0
3      14  0.0  1.0  0.0
4      19  0.0  1.0  0.0
5      23  0.0  1.0  0.0
6      25  0.0  0.0  1.0
7      29  0.0  0.0  1.0


**Practice Example**

Create a dataframe with column as 'Gender, 'Age', 'Degree'.
Create 10 data values in this data set
Apply one-hot encoding on the columns
1. Gender
2. Degree

In [2]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male'],
    'Age': [1, 21, 42, 31, 19, 17, 41, 3, 3, 21],
    'Degree': [1, 2, 1, 3, 2, 1, 2, 1, 1, 2]
})

print(df)

   Gender  Age  Degree
0    Male    1       1
1  Female   21       2
2    Male   42       1
3    Male   31       3
4  Female   19       2
5  Female   17       1
6    Male   41       2
7  Female    3       1
8  Female    3       1
9    Male   21       2

In [3]:
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder1=OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'gender' column
encoder_df = pd.DataFrame(encoder1.fit_transform(df[['Gender']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df1 = df.join(encoder_df)

#view final df
print(final_df1)

   Gender  Age  Degree    0    1
0    Male    1       1  0.0  1.0
1  Female   21       2  1.0  0.0
2    Male   42       1  0.0  1.0
3    Male   31       3  0.0  1.0
4  Female   19       2  1.0  0.0
5  Female   17       1  1.0  0.0
6    Male   41       2  0.0  1.0
7  Female    3       1  1.0  0.0
8  Female    3       1  1.0  0.0
9    Male   21       2  0.0  1.0

In [8]:
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder1=OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'degree' column
encoder_df = pd.DataFrame(encoder1.fit_transform(df[['Degree']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df1 = df.join(encoder_df)

#view final df
print(final_df1)

   Gender  Age  Degree    0    1    2
0    Male    1       1  1.0  0.0  0.0
1  Female   21       2  0.0  1.0  0.0
2    Male   42       1  1.0  0.0  0.0
3    Male   31       3  0.0  0.0  1.0
4  Female   19       2  0.0  1.0  0.0
5  Female   17       1  1.0  0.0  0.0
6    Male   41       2  0.0  1.0  0.0
7  Female    3       1  1.0  0.0  0.0
8  Female    3       1  1.0  0.0  0.0
9    Male   21       2  0.0  1.0  0.0

In [9]:
final_df1.drop(['Gender','Degree'],axis=1, inplace=True) ## Drop Original Gender and Degree Columns After Encoding

print(final_df1)

   Age    0    1    2
0    1  1.0  0.0  0.0
1   21  0.0  1.0  0.0
2   42  1.0  0.0  0.0
3   31  0.0  0.0  1.0
4   19  0.0  1.0  0.0
5   17  1.0  0.0  0.0
6   41  0.0  1.0  0.0
7    3  1.0  0.0  0.0
8    3  1.0  0.0  0.0
9   21  0.0  1.0  0.0